# Основные зависимости
fastapi==0.115.12
uvicorn==0.34.3

# Базы данных
asyncpg==0.30.0
SQLAlchemy==2.0.41
redis==6.2.0
aioredis==2.0.1

# S3 Storage
aiobotocore==2.5.0
botocore==1.29.76
aiohttp==3.9.5
urllib3==1.26.18  # Специальная версия для совместимости с botocore

# Аутентификация
python-jose==3.5.0
PyJWT==2.10.1
passlib==1.7.4
Authlib==1.6.0

# Вспомогательные
pydantic==2.11.7
python-multipart==0.0.20
requests==2.32.4
httpx==0.28.1

# Безопасность
cryptography==45.0.4
defusedxml==0.7.1

# Утилиты
click==8.1.8
envparse==0.2.0
typing_extensions==4.14.0
python-magic==0.4.27

# Тестирование 
pytest
pytest-asyncio
pytest-cov

# логирование 
loguru==0.7.3
python-loki-client

# prometheus 
prometheus-client
prometheus-fastapi-instrumentator
